{% extends "kotakin::admin_layout" %}
{% block body %}
    <div class="container">
        {% if session_has('success') %}
        <div class="alert alert-success"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ session_get('success') }}</div>
        {% endif %}
        {% if session_has('error') %}
        <div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ session_get('error') }}</div>
        {% endif %}
        
        <div class="page-header">
            <h4 class="modal-title">{{ _('General Preferences') }}</h4>
        </div>
        {{ form_open({'url': url_current()}) }}
            <div class="form-group{% if errors.has('brand') %} has-error{% endif %}">
                <label for="brand">{{ _('Product Title') }}</label>
                <div class="controls">
                    <input type="text" id="brand" name="brand" value="{{ page.config('brand', form_getValueAttribute('brand')) }}" class="form-control" />
                </div>
            </div>
            <div class="form-group{% if errors.has('ga_code') %} has-error{% endif %}">
                <label for="ga-code">{{ _('Google Analytic') }}</label>
                <div class="controls">
                    <input type="text" id="ga-code" name="ga_code" value="{{ page.config('ga_code', form_getValueAttribute('ga_code')) }}" class="form-control" />
                </div>
            </div>
            <div class="form-group{% if errors.has('locale') %} has-error{% endif %}">
                <label for="locale">{{ _('Locale Language') }}</label>
                <div class="controls">
                    <input type="text" id="locale" name="locale" value="{{ page.config('locale', form_getValueAttribute('locale')) }}" class="form-control" />
                </div>
                <span class="help-block">{{ _('Use your locale language code, in example "id_ID". Read the documentation on how to create your own translation. The inline texts will be used if your specific translation not found or could not be read by PHP.') }}</span>
            </div>
            <hr/>
            <div class="form-group{% if errors.has('mail_driver') %} has-error{% endif %}">
                <label for="mail-driver">{{ _('Email Protocol') }}</label>
                <div class="controls">
                    <select id="mail-driver" name="mail_driver" class="form-control">
                        <option value="mail"{% if page.config('mail_driver', form_getValueAttribute('mail_driver')) == 'mail' %} selected="selected"{% endif %}>{{ _('PHP Mail') }}</option>
                        <option value="smtp"{% if page.config('mail_driver', form_getValueAttribute('mail_driver')) == 'smtp' %} selected="selected"{% endif %}>{{ _('SMTP') }}</option>
                        <option value="sendmail"{% if page.config('mail_driver', form_getValueAttribute('mail_driver')) == 'sendmail' %} selected="selected"{% endif %}>{{ _('Sendmail') }}</option>
                    </select>
                </div>
            </div>
            <div id="email-credentials"{% if page.config('mail_driver', form_getValueAttribute('mail_driver')) != 'smtp' %} class="hidden"{% endif %}>
                <div class="form-group{% if errors.has('mail_host') %} has-error{% endif %}">
                    <label for="mail-host">{{ _('Email Server') }}</label>
                    <div class="controls">
                        <input type="text" id="mail-host" name="mail_host" value="{{ page.config('mail_host', form_getValueAttribute('mail_host')) }}" class="form-control" />
                    </div>
                </div>
                <div class="form-group{% if errors.has('mail_port') %} has-error{% endif %}">
                    <label for="mail-port">{{ _('Email Port') }}</label>
                    <div class="controls">
                        <input type="text" id="mail-port" name="mail_port" value="{{ page.config('mail_port', form_getValueAttribute('mail_port')) }}" class="form-control" />
                    </div>
                </div>
                <div class="form-group{% if errors.has('mail_encryption') %} has-error{% endif %}">
                    <label for="mail-encryption">{{ _('Email Encryption') }}</label>
                    <div class="controls">
                        <input type="text" id="mail-encryption" name="mail_encryption" value="{{ page.config('mail_encryption', form_getValueAttribute('mail_encryption')) }}" class="form-control" />
                    </div>
                </div>
                <div class="form-group{% if errors.has('mail_username') %} has-error{% endif %}">
                    <label for="mail-username">{{ _('Email Username') }}</label>
                    <div class="controls">
                        <input type="text" id="mail-username" name="mail_username" value="{{ page.config('mail_username', form_getValueAttribute('mail_username')) }}" class="form-control" />
                    </div>
                </div>
                <div class="form-group{% if errors.has('mail_password') %} has-error{% endif %}">
                    <label for="mail-password">{{ _('Email Password') }}</label>
                    <div class="controls">
                        <input type="password" id="mail-password" name="mail_password" value="{{ page.config('mail_password', form_getValueAttribute('mail_password')) }}" class="form-control" />
                    </div>
                </div>
            </div>
            <div id="email-sendmail"{% if page.config('mail_driver', form_getValueAttribute('mail_driver')) != 'sendmail' %} class="hidden"{% endif %}>
                <div class="form-group{% if errors.has('mail_sendmail') %} has-error{% endif %}">
                    <label for="mail-sendmail">{{ _('Sendmail Path') }}</label>
                    <div class="controls">
                        <input type="text" id="mail-sendmail" name="mail_sendmail" value="{{ page.config('mail_sendmail', form_getValueAttribute('mail_sendmail')) }}" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group{% if errors.has('mail_from_address') %} has-error{% endif %}">
                <label for="mail-from-address">{{ _('Sender Email') }}</label>
                <div class="controls">
                    <input type="text" id="mail-from-address" name="mail_from_address" value="{{ page.config('mail_from_address', form_getValueAttribute('mail_from_address')) }}" class="form-control" />
                </div>
            </div>
            <div class="form-group{% if errors.has('mail_from_name') %} has-error{% endif %}">
                <label for="mail-from-name">{{ _('Sender Name') }}</label>
                <div class="controls">
                    <input type="text" id="mail-from-name" name="mail_from_name" value="{{ page.config('mail_from_name', form_getValueAttribute('mail_from_name')) }}" class="form-control" />
                </div>
            </div>
            <div class="form-group{% if errors.has('mail_reply_to') %} has-error{% endif %}">
                <label for="mail-reply-to">{{ _('Reply To Email') }}</label>
                <div class="controls">
                    <input type="text" id="mail-reply-to" name="mail_reply_to" value="{{ page.config('mail_reply_to', form_getValueAttribute('mail_reply_to')) }}" class="form-control" />
                </div>
            </div>
            <hr/>
            <div class="form-group{% if errors.has('image_driver') %} has-error{% endif %}">
                <label for="image-driver">{{ _('Image library') }}</label>
                <div class="controls">
                    <select id="image-driver" name="image_driver" class="form-control">
                        <option value="gd"{% if page.config('image_driver', form_getValueAttribute('image_driver')) == 'gd' %} selected="selected"{% endif %}>{{ _('GD') }}</option>
                        <option value="im"{% if page.config('image_driver', form_getValueAttribute('image_driver')) == 'im' %} selected="selected"{% endif %}>{{ _('ImageMagick') }}</option>
                    </select>
                </div>
            </div>
            <div id="imagemagick-path"{% if page.config('image_driver', form_getValueAttribute('image_driver')) != 'im' %} class="hidden"{% endif %}>
                <div class="form-group{% if errors.has('imagemagick_path') %} has-error{% endif %}">
                    <label for="imagemagick-path">{{ _('ImageMagick Path') }}</label>
                    <div class="controls">
                        <input type="text" id="imagemagick-path" name="imagemagick_path" value="{{ page.config('imagemagick_path', form_getValueAttribute('imagemagick_path')) }}" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="form-group clearfix">
                <button type="submit" class="btn btn-primary pull-left">{{ _('Save Changes') }}</button>
                <button type="reset" class="btn btn-default pull-right">{{ _('Reset') }}</button>
            </div>
        {{ form_close() }}
    </div>
{% endblock %}