{% extends "kotakin::admin_layout" %}
{% block body %}
    <div id="admin-login" class="container">
        <div class="row">
            <div class="col-lg-4 offset4 well login-wrapper align_center">
                <div class="alert alert-info alert-block mb0">{{ _('Your password has been changed. You can continue to Sign In.') }}</div>
                <a href="{{ url_to('/admin/login') }}" class="btn btn-success mt20">{{ _('Sign In') }}</a>
            </div>
        </div>
    </div>
{% endblock %}