{% extends "kotakin::user_layout" %}
{% block body %}
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-4 login-wrapper fright">
                {% if session_has('success') %}

                <div class="align_center">
                    <div class="alert alert-info alert-block mb0">{{ _('Instruction to reset your password has been sent to your email address.') }}</div>

                    <a href="{{ url_to('/%s/login') | format(page.userSlug) }}" class="btn btn-large btn-success mt20">{{ _('Already remember') }}</a>
                </div>
                    
                {% else %}

                <legend>{{ _('Enter your email address') }}</legend>
                {% if session_has('error') %}
                <div class="alert alert-error">{{ session_get('error') }}</div>
                {% endif %}
                {{ form_open({'url': url_current()}) }}
                    <div class="form-group{% if errors.has('email') %} has-error{% endif %}">
                        <div class="input-group">
                            <span class="input-group-addon input-small"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input type="text" id="email" name="email" value="{{ form_getValueAttribute('email') }}" class="form-control input-small" placeholder="{{ _('Your Email') }}">
                        </div>
                    </div>
                    <div class="form-group align_center">
                        <button type="submit" name="submit" class="btn btn-primary"><i class="glyphicon glyphicon-lock"></i> {{ _('Reset password') }}</button>
                        <a href="{{ url_to('/%s/login') | format(page.userSlug) }}">{{ _('Cancel') }}</a>
                    </div>
                {{ form_close() }}

                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}