{% extends "kotakin::user_layout" %}
{% block body %}
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-4 login-wrapper fright align_center">
                <div class="alert alert-info alert-block mb0">{{ _('Your password has been changed. You can continue to Sign In.') }}</div>
                <a href="{{ url_to('/%s/login') | format(page.userSlug) }}" class="btn btn-success mt20">{{ _('Sign In') }}</a>
            </div>
        </div>
    </div>
{% endblock %}