{% extends "kotakin::install/layout" %}
{% block body %}
    <div class="alert alert-info">Below you should enter your database connection details. If you’re not sure about these, contact your host.</div>

    {% if session_has('success') %}
    <div class="alert alert-success"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ session_get('success') }}</div>
    {% endif %}
    {% if session_has('error') %}
    <div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ session_get('error') }}</div>
    {% endif %}

    {{ form_open({'url': url_current(), 'class': 'form-horizontal mt30'}) }}
        <div class="form-group{% if errors.has('db_name') %} has-error{% endif %}">
            <label for="db_name" class="col-lg-2 control-label">Database Name</label>
            <div class="col-lg-10">
                {{ form_text('db_name', dbConfig.database, {'id': 'db_name', 'class': 'form-control'}) }}
                <span class="help-block">The name of the database you want to run KOTAKIN in. Please use a separate database from your other applications or websites</span>
            </div>
        </div>
        <div class="form-group{% if errors.has('user_name') %} has-error{% endif %}">
            <label for="user_name" class="col-lg-2 control-label">User Name</label>
            <div class="col-lg-10">
                {{ form_text('user_name', dbConfig.username, {'id': 'user_name', 'class': 'form-control'}) }}
                <span class="help-block">Your MySQL username</span>
            </div>
        </div>
        <div class="form-group{% if errors.has('password') %} has-error{% endif %}">
            <label for="password" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
                {{ form_text('password', dbConfig.password, {'id': 'password', 'class': 'form-control'}) }}
                <span class="help-block">...and your MySQL password.</span>
            </div>
        </div>
        <div class="form-group{% if errors.has('db_host') %} has-error{% endif %}">
            <label for="db_host" class="col-lg-2 control-label">Database Host</label>
            <div class="col-lg-10">
                {{ form_text('db_host', dbConfig.host, {'id': 'db_host', 'class': 'form-control'}) }}
                <span class="help-block">You should be able to get this info from your web host, if localhost does not work.</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label"></label>
            <div class="col-lg-10">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    {{ form_close() }}
{% endblock %}