{% extends "kotakin::install/layout" %}
{% block body %}
    {% if session_has('success') %}
    <div class="alert alert-success"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ session_get('success') }}</div>
    {% endif %}
    {% if session_has('error') %}
    <div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ session_get('error') }}</div>
    {% endif %}

    <div class="well align_center">
        <h3>Create the Super Admin User.</h3>
    </div>

    {{ form_open({'url': url_current(), 'class': 'form-horizontal mt30'}) }}
        <div class="form-group{% if errors.has('name') %} has-error{% endif %}">
            <label for="name" class="col-lg-2 control-label">Full Name</label>
            <div class="col-lg-10">
                {{ form_text('name', null, {'id': 'name', 'class': 'form-control'}) }}
                <span class="help-block">Your Full Name</span>
            </div>
        </div>
        <div class="form-group{% if errors.has('email') %} has-error{% endif %}">
            <label for="email" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
                {{ form_text('email', null, {'id': 'email', 'class': 'form-control'}) }}
                <span class="help-block">Your Email Address</span>
            </div>
        </div>
        <div class="form-group{% if errors.has('password') %} has-error{% endif %}">
            <label for="password" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
                {{ form_text('password', null, {'id': 'password', 'class': 'form-control'}) }}
                <span class="help-block">...and your password.</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label"></label>
            <div class="col-lg-10">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    {{ form_close() }}
{% endblock %}